<%- include('partials/head.ejs') %>

<%- include('partials/navbar.ejs') %>

<h1>Topics</h1>
<div class="card col-6 offset-3 mb-3 col-lg-4 col-xl-6 border-5">
  <% for(let t of topics) {%>

  <div class="card-header"><%= t.id %>. <%= t.name %>
    <!--     <img src="<%= t.url %>" class="card-img-top" alt="...">-->
  </div>
  <div class="card-body md-4">
    <a href="/<%= t.name %>" class="btn btn-primary"> Try It </a>
  </div>
  <% } %>
</div>

<%- include('partials/footer.ejs') %>