<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <title>Addition</title>
</head>

<body>
  <h1>Addition</h1>

  <% for(i=0; i<additionQuestions.length; i++) {%>

  <div class="card mb-3" style="width: 18rem;">
    <div class="card-header">
      <%= additionQuestions[i].id %>. <%= additionQuestions[i].question %>
    </div>
    <% for(j=0; j<additionAnswers.length; j++) {%>
    <div class="card-body">
      <button class="btn btn-primary" onclick="checkAnswer(answer['<%=i%>'].answers['<%=j%>','<%=j%>'].answer, answer['<%=i%>'].correctAnswer) "> <%= additionAnswers[j].id %>. <%= additionAnswers[i].answers[j,j].answer %> </button>
    </div>
    <% } %>
  </div>
  <% } %>

  <div class="card-footer">
    <a href="/topics">Back To All Topics </a>
  </div>

  </div>
  <!-- <script src="../../public/javascript/answers.js"></script> -->
</body>


</html>

<script>
  if (typeof window !== 'undefined') {
    console.log('You are on the browser')
    // 👉️ can use alert()
  } else {
    console.log('You are on the server')
    // 👉️ can't use alert()
  }

  const btn = document.getElementById('#answerButton');

  const checkAnswer = function(usersAnswer, correctAnswer) {
    if (usersAnswer == (correctAnswer)) {
      console.log('correct answer')
    } else if (usersAnswer != (correctAnswer)) {
      console.log('wrong answer')
    }
  }
</script>

<script>
  const answer = <%-JSON.stringify(additionAnswers)%>;
  console.log(answer)
  //console.log(additionAnswers)
</script>